.ColorPicker {
  display: flex;
  flex-direction: column;
}

.ColorPicker + .ColorPicker {
  margin-top: 10px;
}

/* ColorPicker-custom */
.ColorPicker-custom {
  display: none;
  width: 100%;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

.ColorPicker.is-custom .ColorPicker-custom {
  display: block;
}
