.ColorPicker {
  display: flex;
  flex-direction: column;
}

.ColorPicker + .ColorPicker {
  margin-top: 15px;
}

/* title */
.ColorPicker-title {
  font-size: 0.85em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* custom */
.ColorPicker-custom {
  display: none;
  width: 100%;
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
}

.ColorPicker.is-custom .ColorPicker-custom {
  display: block;
}
